<!DOCTYPE html>
<html>
<head>
    <title>Employee Modal</title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="modal-header text-center">
        <button type="button" class="close" ng-click="ctrlr.cancel()">&times;</button>
        <h4 class="modal-title">{{ctrlr.modalTitle}}</h4>
    </div>
    <form name="employeeForm">
        <div class="panel-heading xsmall panel-black text-center">Employee Information</div>
        <div class="col-xs-3 col-lg-6 text-right">Title:</div>
        <div class="col-xs-8 col-lg-6 text-left">
            <input required type="text" ng-model="ctrlr.employee.title" name="employeetitle" />
        </div>
        <div ng-messages="employeeForm.employeetitle.$error">
            <div ng-message="required" class="col-xs-12 custom-error">Title is required</div>
        </div>
        <div class="col-xs-3 col-lg-6 text-right">First:</div>
        <div class="col-xs-8 col-lg-6 text-left">
            <input required type="text" ng-model="ctrlr.employee.firstname" name="employeefirstname" />
        </div>
        <div ng-messages="employeeForm.employeefirstname.$error">
            <div ng-message="required" class="col-xs-12 custom-error">First name is required</div>
        </div>
        <div class="col-xs-3 col-lg-6 text-right">Last Name:</div>
        <div class="col-xs-8 col-lg-6 text-left">
            <input required type="text" ng-model="ctrlr.employee.lastname" name="employeelastname" />
        </div>
        <div ng-messages="employeeForm.employeelastname.$error">
            <div ng-message="required" class="col-xs-12 custom-error">Last name is required</div>
        </div>
        <div class="col-xs-3 col-lg-6 text-right">Phone:</div>
        <div class="col-xs-8 col-lg-6 text-left">
            <input required type="text" ng-model="ctrlr.employee.phoneno" name="employeephoneno" />
        </div>
        <div ng-messages="employeeForm.employeephoneno.$error">
            <div ng-message="required" class="col-xs-12 custom-error">Phone number is required</div>
        </div>
        <div class="col-xs-3 col-lg-6 text-right">Email:</div>
        <div class="col-xs-8 col-lg-6 text-left">
            <input required type="email" ng-model="ctrlr.employee.email" name="employeeemail" />
        </div>
        <div ng-messages="employeeForm.employeeemail.$error">
            <div ng-message="required" class="col-xs-11 col-lg-12 custom-error">Email is required</div>
            <div ng-message="email" class="col-xs-11 col-lg-12 custom-error">Email format is invalid</div>
        </div>
        <div class="modal-footer top10pad">
            <div class="col-xs-12 text-right">
                <button type="button" class="btn panel-black"
                        ng-click="(ctrlr.todo === 'add') ? ctrlr.add() : ctrlr.update()"
                        ng-disabled="employeeForm.$invalid">
                    {{ctrlr.todo}}
                </button>
                <span ng-hide="ctrlr.todo === 'add'">
                    <button type="button" class="btn panel-black" ng-click="ctrlr.delete()" confirm-click>delete</button>
                </span>
                <button type="button" class="btn btn-default" ng-click="ctrlr.cancel()">cancel</button>
            </div>
        </div>
    </form>
</body>
</html>
